* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .fondo {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .logo {
    top: 1px;
    float: right;
    height: 200px;
    width: 220px;
    border-radius: 180px;
    position: absolute;
    right: 0;
  }
  .a {
    font-family: "rockwell";
    font-size: 130px;
    font-weight: 500;
    text-align: center;
    text-shadow: 6px 3px #2faef798;
    color: rgb(7, 200, 248);
  }
  .subtitulo {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #b9c7e7;
    text-align: center;
  }
  a:visited {
    color: rgb(26, 130, 248);
  }
  
  
  .ul {
    text-align: center;
    color: rgb(233, 241, 241);
  }
  .b {
    text-align: center;
    color: azure;
  }
  .navegador {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .navegador li {
    padding: 0 18px;
  }
  .navegador a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 200px;
    text-transform: uppercase;
  }
  .form-register {
    width: 500px;
    background: #13227a;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: #f6f8f7;
    border: 2px dashed rgb(10, 17, 24);
  }
  .controls {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
  }
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 20px;
    color: white;
    margin: 50px 0;
    font-size: 17px;
  }
  .p {
    color: rgb(180, 180, 180);
    margin-top: 100px;
    text-align: center;
  }
  
  .wp {
    color: #6d859c;
  }
  .pdp {
    color: #6d859c;
    text-decoration: none;
  }
  .mail {
    color: #6d859c;
    text-decoration: none;
  }
  .a2 {
    color: #99a1a1;
    font-size: 25px;
  }
  .redes {
    color: #e2e6e6;
    text-decoration: none;
  }
  .footer {
    background-color: #000;
    text-align-last: center;
    color: #6d859c;
    border-top: 2px solid orange;
  }
  